/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Oxygen';
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
header.navbar{
	overflow: hidden;
  	background-color: #6b5b95;
  	position: fixed; 
  	top: 0; 
	width: 100%; 
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header{
	margin:10px;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
div.spacer{
	height:100px; 
}

footer{
	padding: 80px;
}

hr{
	width: 90%;
	height: 5px;
	background:black;
}

p.copyright{
	text-align: center;
}

a.intro{ 
	display: inline-block;
	color:#a2b9bc;
	width:12%;
}
a.intro:hover{
	background:#ff7b25;
}
img.logo {
	display: inline-block;
	width:12%;
}

div.container{
	display: inline-block;
	width:47%;
	text-align: center;
	padding:5px;
}
h1.motto{
	font-size:60px;
	text-align: center;
	padding:20px;
	margin:10px;
}
a.button{
	display: inline-block;
	text-align: center;
	border: 2px solid black;
	width: 20%;
	padding: 5px;
	backgroung:
}
a.button:hover{
	background:#ff7b25;

}

div.wrapper{
	display: inline-block;
	width: 47%;
	padding: 5px;
}
div.wrapper2{
	display: inline-block;
	width: 29%;
	padding: 5px;
	margin: 5px;  
}
div.code{
	display:block;
	text-align:center;
}

h3.subtitle{
	display: inline-block;
	text-align: left;
}

section{
	padding-left:80px;
	padding-right:80px;
	padding-bottom:20px;
	padding-top:20px;
}

